.App {
    text-align: center;
    background-color: linear-gradient(to bottom, var(--green) , var(--blue-dark));
}

*{
  margin: 0px;
  padding: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}

h1{
  color: rgb(228, 40, 245);
}

button{
  background-color: rgb(219, 46, 241);
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}

input{
  border: 2px solid rgb(253, 64, 212);
}

